.vs/
*.pdb
*.iobj
*.ipdb
output.txt
Debug/
x64/Debug/
Fast-DCT-Generator/Debug/
Fast-DCT-Generator/Release/
Fast-DCT-Generator/x64/Debug/
Fast-DCT-Generator/x64/Release/
Generator/__pycache__/
StructLayoutSettings.json